{% extends "layout.html" %}
{% block content%}
    <div class="content-section">
      <div class="media">
          <img class="rounded-circle account-img" src="{{ image_file }}">
          <div class="media-body">
              <h2 class="account-heading">{{ current_user.username }}</h2>
          </div>
      </div>
    </div>

          <div class="col-md-10">
            <p>
              {% if current_user.level == 1 %}
              <a href="{{ url_for('competancy') }}" class="btn btn-sq-lg btn-primary">
                  <i class="fa fa-list fa-5x"></i><br/>
                  View <br/>Clinicians
              </a>
              {% endif %}
              <a href="{{ url_for('rotations') }}" class="btn btn-sq-lg btn-success">
                <i class="fa fa-list fa-5x"></i><br/>
                View <br/>Rotations
              </a>
              
              <a href="{{ url_for('evaluate') }}" class="btn btn-sq-lg btn-info">
                <i class="fa fa-star fa-5x"></i><br/>
                Evaluate Students
              </a>
              {% if current_user.level == 1 %}
              <a href="{{ url_for('students') }}" class="btn btn-sq-lg btn-warning">
                <i class="fa fa-user fa-5x"></i><br/>
                View/Add <br/>Students
              </a>
              {% endif %}
              <a href="{{ url_for('reports') }}" class="btn btn-sq-lg btn-danger">
                <i class="fa fa-gear fa-5x"></i><br/>
                Reports
              </a>
              <a href="{{ url_for('reminders') }}" class="btn btn-sq-lg btn-secondary">
                <i class="fa fa-calendar fa-5x"></i><br/>
                Set Reminders
              </a>
              <a href="{{ url_for('accmgmt') }}" class="btn btn-sq-lg btn-default">
                <i class="fa fa-gear fa-5x"></i><br/>
                Manage Your </br>Account
              </a>
            </p>
          </div>

          <br/>
          <br/>
          <br/>
          <br/>
      

{% endblock content %}